.nav {
	background-color: var(--nav-background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.navIcons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 120px;
}

.homeIcon,
.addIcon {
	color: var(--light-icon);
	transition: 200ms;
	font-size: 30px;
}

.homeIcon:hover {
	color: var(--white-icon-hover);
}
.addIcon:hover {
	color: var(--red-icon-hover);
}
