.nav {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;

}

.navIcon {
  color: var(--light-icon);
  transition: 200ms;
  font-size:30px;
}


.navIcon:hover {
  color: var(--light-icon-hover);
}