body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


	--light-icon:var(--color-white);
	--light-icon-hover: var(--color-semi-white);
	--nav-background-color: var(--color-dark);


	--color-dark: rgb(31, 31, 31);
	--color-white: white;
	--color-semi-white: rgb(216, 216, 216);
}



code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
