body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


	--light-icon:var(--color-white);
	--white-icon-hover: var(--color-light-white);
	--nav-background-color: var(--color-dark);
	--red-icon-hover : var(--color-red);
	--blue-icon-hover: var(--color-light-blue);


	--color-dark: rgb(31, 31, 31);
	--color-white: white;
	--color-light-white: rgb(210, 210, 210);
	--color-red: rgb(235, 75, 75);
	--color-light-blue: rgb(55, 150, 220);
}



code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
