.allSearchBar {
	display: flex;
  align-items: center;
  justify-content: space-around;
  width: 850px;
}

.searchBar, .orderBy {
	display: flex;
	justify-content: center;
	align-items: center;
}


.orderBy {
	color: var(--light-icon);
	font-size: 14px;
  margin-right: 10px;
}

.orderInput {
	border-radius: 5px;
	border: transparent;
	height: 28px;
  margin-left: 5px;
  width: 38px;
  cursor: pointer;
}

.searchInput {
	width: 240px;
	height: 28px;
	border-radius: 5px;
	border: transparent;
}

.searchBtn {
	color: var(--light-icon);
	font-size: 36px;
	background-color: var(--color-dark);
	border: transparent;
	cursor: pointer;
	padding-top: 8px;
	transition: 200ms;
}

.searchBtn:hover {
	color: var(--light-icon-hover);
}


.dietBoxes {
  display: grid;
  grid-template-columns: repeat(4, 95px);
  color: var(--color-semi-white);
  font-size: 14px;
}

.dietBox {
  display: flex;
  align-items: bottom;
}

.dietCheckBox {
  cursor: pointer;
}